.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ExchangeItem{
 text-align: left;
 padding-right: 5vw;
}

.ExchangeHead{
 text-align: left;
 padding-left: 9vw;
}

.HeadDesign{
font-size: calc(20px + 2vmin);
padding-bottom: 1vw;
 color: #f75e25;
}

.ShrimpLocation{
height: 50vh;
}

.Remark{
font-size: calc(9px + 1vmin);
color:#f75e25;
}

.ValueDate{
color:white;
}
